<% provide(:title, 'Group') %>

<h1>Groups</h1>

<%= will_paginate %>

<ul>
<% if @groups.any? %>
    <div class="groups">
      <%= render @groups %>
    </div>
<% end %>
</ul>

<%= will_paginate %>
