<li>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted by 
	<% if post.coach_id.nil? %>
		<%= Student.find_by(id: post.student_id).name %>
	<% else %>
		<%= Coach.find_by(id: post.coach_id).name %>
	<% end %>
	<%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>