<footer class="footer">
     <div class="container">
        <div id="footerLogo">
          <%= image_tag("schome.gif", class: "main-logobottom") %>
        </div>
        <small>
          <%= link_to "Coach Network", root_path %>
          by Bei Zhao, Ryan Wang
        </small>
        <nav>
        <ul>
         <li><%= link_to "About",   about_path %></li>
         <li><%= link_to "Contact", contact_path %></li>
        </ul>
  	</nav>
    <p class="copy">&copy;2014 CoachNetwork, All Rights Reserved.</p>
    </div>
</footer>
