<footer class="footer">
     <div class="container">
        <div id="footerLogo">
          <%= image_tag("schome.gif", class: "main-logobottom") %>
        </div>
        <small>
          <%= link_to "Coach Network", root_path %>
          by Bei Zhao, Ryan Wang
        </small>
       
    <p class="copy">&copy;2014 CoachNetwork, All Rights Reserved.</p>
    </div>
</footer>
